body{
  margin: 0;
}

.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.topnav{
   width: 100vw;
  background-color: #D6EFFF;
  margin-top: 4px;
  margin-bottom: 4px;
}

.topnav ul{
  margin-left: 400px;
  padding: 0;
  display: flex;
  align-items: center;
}

.topnav li{
  list-style-type: none;
  margin: 0 2vw;
  font-size: 3vh;
}

.topnav li a{
  text-decoration: none;
  color: black;
  padding: 1vw;
  font-family: monospace;
}

.topnav li a:hover{
  background-color: #C6E9FF;
}

button{
  display: none;
}


@media only screen and (max-width: 500px) {

    .topnav ul{
    flex-direction: column;
  }
  
  
  .topnav li{
    margin: 0;
  }
 
  a{
    display: block;
  }
}

@media only screen and (max-width: 500px) {
   ....
  
  button{
    display: block;
    
    padding: 2vw;
    font-size: 3vh;
    background-color: #AFE0FF;
    border: none;
    
    outline: none;
    
    cursor: pointer;
  }
}